:root{
    --vermelho:var(--vermelho) #e50914;
    --preta:#141414;


}  
*{
margin: 0; 
padding:0;
box-sizing: border-box;

}   
 body{ 
     background: var(--preta);  
     font-family: "arial,times,serif" ;
     color:rgb(197, 12, 12);
 } 
 header .container {   
     display: flex;
     flex-direction:row ;
     align-items: center;
     justify-content: space-between;
}
  header .logo{ 
      margin-left:5px;
      color: var(--vermelho);
      font-family:"Arial Black", Times;
      font-size: 40px; 
    
}

header nav a{ 
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover{

color:white
}
.filme-principal{
font-size: 16px;
background: linear-gradient(rgba(0,0,0,.50),rgba(99, 81, 0, 0.5)),url("/log/capa.jpg");
height:400px;
background-size:cover;
display: flex;
flex-direction:column;
justify-content:center;
align-Items:flex-start;




}











 